body {
    background: rgb(70 142, 236);
}

body button{
    background-color: rgb(68, 194, 68);
    color: white;

}

#titulo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(109, 116, 116);
}

#meses{
    color: saddlebrown;
}

#anos{
    color: seagreen;
}

#limpar{
    background-color: red;
}